[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "vendor/patterns"]
	path = vendor/patterns
	url = https://github.com/ThirteenAG/Hooking.Patterns
[submodule "vendor/minhook"]
	path = vendor/minhook
	url = https://github.com/TsudaKageyu/minhook
[submodule "vendor/catch2"]
	path = vendor/catch2
	url = https://github.com/catchorg/Catch2
[submodule "vendor/jitasm"]
	path = vendor/jitasm
	url = https://github.com/TombRaiderModding/jitasm.git
